<div></div>
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2><i class="fa fa-desktop"></i>  E-Learning</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="dashboard-widget-content">
                <ul class="quick-list">
                    <li style="font-size:14px">
                        <i class="fa fa-dashboard"></i><a href="#">Trang chủ</a>

                    </li>
                    <li style="font-size:14px">
                        <i class="fa fa-book"></i><a href="#">Danh sách khóa học</a>

                    </li>
                    <li style="font-size:14px">
                        <i class="fa fa-question-circle"></i><a href="#">Kiểm tra định kì</a>

                    </li>
                    <li style="font-size:14px">
                        <i class="fa fa-bar-chart"></i><a href="#">Tiến độ học tập</a>
                    </li>
                </ul>

                <div class="sidebar-widget">
                    <br />
                    <img src="~/build/images/elearning.png" width="50%" height="50%" />
                    <div class="clearfix"></div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2><i class="fa fa-tasks"></i> Booking</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="dashboard-widget-content">
                <ul class="quick-list">
                    <li style="font-size:14px">
                        <i class="fa fa-calendar"></i><a href="#">Đặt lịch họp</a>

                    </li>
                    <li style="font-size:14px">
                        <i class="fa fa-building"></i><a href="#">Quản lý phòng</a>

                    </li>
                    <li style="font-size:14px">
                        <i class="fa fa-gears"></i><a href="#">Cài đặt phòng</a>

                    </li>

                </ul>

                <div class="sidebar-widget">
                    <br />
                    <img src="~/build/images/booking.png" width="50%" height="50%" />
                    <div class="clearfix"></div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
        <div class="x_title">
            <h2><i class="fa fa-edit"></i> E-Sign</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="dashboard-widget-content">
                <ul class="quick-list">
                    <li style="font-size:14px">
                        <i class="fa fa-dashboard"></i><a href="#">Trang chủ</a>

                    </li>
                    <li style="font-size:14px">
                        <i class="fa fa-book"></i><a href="#">Danh sách khóa học</a>

                    </li>
                    <li style="font-size:14px">
                        <i class="fa fa-question-circle"></i><a href="#">Kiểm tra định kì</a>

                    </li>
                    <li style="font-size:14px">
                        <i class="fa fa-bar-chart"></i><a href="#">Tiến độ học tập</a>
                    </li>
                </ul>

                <div class="sidebar-widget">
                    <br />
                    <img src="~/build/images/esign.png" width="50%" height="50%" />
                    <div class="clearfix"></div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

