@using WebLearning.Contract.Dtos.Account;
@model ChangePassword
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="ChangePassword" asp-controller="Login" method="post" >
    <h2>Thay đổi mật khẩu</h2>
    <div class="form-group">
        <label for="exampleInputFile">Mật khẩu cũ</label>
        <div class="input-group">
            <input type="text" name="OldPassword" asp-for="@Model.OldPassword" required>
        </div>
        <label for="exampleInputFile">Mật khẩu mới</label>
        <div class="input-group">
            <input type="text" name="NewPassword" asp-for="@Model.NewPassword" required>
        </div>
        <label for="exampleInputFile">Xác nhận mật khẩu</label>
        <div class="input-group">
            <input type="text" name="ConfirmPassword" asp-for="@Model.ConfirmPassword" required>
        </div>
        <input class="btn btn-success" type="submit" value="Lưu" />

    </div>
</form>
