@using WebLearning.Contract.Dtos.Avatar;
@model UpdateAvatarDto
@{
    ViewData["Title"] = "UpdateAvatar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<form asp-action="UpdateAvatar" asp-controller="Login" method="post" enctype="multipart/form-data">
    <h2>UploadAvatar</h2>
    <div class="form-group">
    <label for="exampleInputFile">Ảnh đại diện</label>
@*        <img class="img-responsive avatar-view" src="@Configuration["BaseAddress"]/avatarImage/@Model.ImagePath" alt="Avatar" title="Change the avatar">
*@
    <div class="input-group">
        <input type="file" id="exampleInputFile" name="fThumb" asp-for="Image">
    </div>
    <span asp-validation-for="Image" class="text-danger">@TempData["fileError"]</span>
    <input class="btn btn-success" type="submit" value="Cập nhật ảnh" />

    </div>
</form>
