@using WebLearning.Contract.Dtos.Role;
@model RoleDto;
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Detail" asp-controller="Role">
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Thông tin chi tiết</h1>

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <a asp-action="Index" class="btn btn-info btn-icon-split">
                    <span class="text">Quay lại</span>
                </a>
                <div class="my-2"></div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Mã</th>
                                <th>Quyền</th>
                                <th>Mô tả</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td readonly>@Model.Code</td>
                                <td readonly>@Model.Id</td>
                                <td readonly>@Model.RoleName</td>
                                <td readonly><a>@Model.Description</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</form>
