.boxed-btn-home {
    background: #bf040a;
    color: #fff;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Raleway",sans-serif;
    font-size: 25px;
    font-weight: bold;
    border: 0;
    border: 1px solid #bf040a;
    letter-spacing: 3px;
    text-align: center;
    color: #fff !important;
    text-transform: uppercase;
    cursor: pointer;
}

    .boxed-btn-home:hover {
        background: #fff;
        color: #bf040a !important;
        border: 1px solid #bf040a
    }

    .boxed-btn-home:focus {
        outline: none
    }

    .boxed-btn-home.large-width {
        width: 220px
    }

.boxed-btn {
    background: #bf040a;
    color: #fff;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #bf040a;
    letter-spacing: 3px;
    text-align: center;
    color: #fff !important;
    text-transform: uppercase;
    cursor: pointer;
}

    .boxed-btn:hover {
        background: #fff;
        color: #bf040a !important;
        border: 1px solid #bf040a
    }

    .boxed-btn:focus {
        outline: none
    }

    .boxed-btn.large-width {
        width: 220px
    }

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.red_calendar_corner {
    background-color: #c5040a;
    font-size: 16pt;
    text-align: right;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}

    .red_calendar_corner :not(class) {
        display: none
    }

.red_calendar_colheader_inner {
    font-size: 20px;
    font-weight: bold;
}

.month_calender_rowheader {
    color: #d9d9d9;
}

.month_calender_corner :not(class) {
    display: none;
}

.month_calender_rowheader :not(class,div) {
    background-color: #c5040a;
}
/* width */
::-webkit-scrollbar {
    height: 7px; /* height of horizontal scrollbar ← You're missing this */
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bf040a;
    border-radius: 10px;
}

.nav.side-menu > li.active, .nav.side-menu > li.current-page {
    border-right: 5px solid #5a0004;
}

    .nav.side-menu > li.active > a {
        text-shadow: rgb(0 0 0 / 25%) 0 -1px 0;
        background: #5a0004;
        box-shadow: rgb(0 0 0 / 25%) 0 1px 0, inset rgb(255 255 255 / 16%) 0 1px 0;
    }

.nav-md ul.nav.child_menu li:before {
    background: #5a0004;
}

.nav-sm ul.nav.child_menu {
    left: 100%;
    position: absolute;
    top: 0;
    width: 100px;
    z-index: 4000;
    background: #3E5367;
    display: none;
}

    .nav-sm ul.nav.child_menu li {
        padding: 0 10px;
        width: 100px;
        background: #5a0004;
    }

        .nav-sm ul.nav.child_menu li a {
            text-align: center !important;
        }

.nav-md ul.nav.child_menu li:before {
    background: #5a0004;
}

.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #5a0004;
}