@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

@*    <title>@ViewData["Title"]</title>
*@    
    <title>Vạn Xuân System</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/icon.ico" />

    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker -->
    <link href="~/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
    <link href="~/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="~/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">


    <!--Booking System-->
    <link href="~/build/css/custom.min.css" rel="stylesheet">
    <link href="~/booking/themes/month_calender.css" type="text/css" rel="stylesheet" />
    <link href="~/booking/themes/nav_calender.css" type="text/css" rel="stylesheet" />
    <link href="~/booking/themes/red_calendar.css" type="text/css" rel="stylesheet" />
    <link href="~/booking/themes/m_calendar.css" type="text/css" rel="stylesheet" />
    <script src="~/booking/lib/daypilot/daypilot-all.min.js"></script>
    <link rel="stylesheet" href="~/booking/themes/modal_flat.css" type="text/css">
    <link rel="stylesheet" href="~/booking/themes/modal_rounded.css" type="text/css">
    <link href="~/booking/css/customcalender.css" rel="stylesheet" />


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
@*    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
*@@*    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>*@

    <link href="~/build/css/jquery_loading/loading.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">

    


    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("metatags", required: false)
    @await RenderSectionAsync("Summernote", required: false)
    <style>
        .datatables_length, .dataTables_info, .dataTables_paginate {
            display: none;
        }
         @@media print {
            @@page {
                margin: 10mm 5mm 5mm 5mm;
            }

            body {
                margin: 0;
            }
        }
    </style>
</head>

<body class="nav-md" style="background-color:white">


    <div class="container body">
        <div class="main_container" style="background-color:#790001">
            <div class="col-md-3 left_col menu_fixed" style="background-color:#790001">

                <div class="left_col scroll-view" style="background-color:#790001">
                    <div class="navbar nav_title" style="border: 0;margin:auto;background-color:#790001">
                        <a href="/" class="site_title" style="text-align:center;margin:auto;padding-left:0px">
                            <img src="~/build/images/LogoVXH.png" width="35%" height="58%" style="margin:auto" />

                        </a>

                    </div>


                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix" style="background-color:#790001">
                        <div class="profile_pic">

                            @using Microsoft.Extensions.Configuration

                            @inject IConfiguration Configuration
                            @if (User.Claims.Where(x => x.Type == "Avatar").Select(x => x.Value).FirstOrDefault() == null || User.Identity.Name == null)
                            {
                                <img class="img-circle profile_img" src="~/build/images/user.png" alt="Avatar">

                            }
                            else
                            {
                                <img class="img-circle profile_img" src="@User.Claims.Where(x => x.Type == "Avatar").Select(x => x.Value).FirstOrDefault()" loading="lazy" alt="Avatar" title="Change the avatar">


                            }
                        </div>
                        <div class="profile_info">
                            @if (User.Identity.IsAuthenticated && HttpContextAccessor.HttpContext.Session.GetString("Token") != null)
                            {
                                <span>Welcome</span>
                                <h2>@User.Claims.Where(x => x.Type == "FullName").Select(x => x.Value).FirstOrDefault()</h2>

                                <form asp-action="LogOutAccount" asp-controller="Login" method="post">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true" typeof="submit"></span>

                                    <span> <input type="submit" value="Đăng Xuất" style="border:none;background:none;margin:auto; " /></span>
                                </form>
                            }
                            else
                            {
                                <span>Welcome</span>
                                <h2>Người dùng</h2>
                                <span class="fa fa-sign-in" aria-hidden="true" typeof="submit"></span>
                                <span>
                                    <input type="submit" value="Đăng nhập" style="border:none;background:none;margin:auto; " onclick="window.location.href='/dang-nhap.html'" />

                                </span>
                            }
                        </div>
                    </div>

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menu</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> Trang chủ</a>
                                </li>
                                <li>
                                    <a @*asp-action="Index" asp-controller="Home"*@><i class="fa fa-desktop"></i>E-Learning</a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a asp-action="Index" asp-controller="Learning"><i class="fa fa-dashboard"></i> Trang chủ</a>
                                        </li>
                                        <li>
                                            <a href="/khoa-hoc.html"><i class="fa fa-book"></i>Danh sách khóa học</a>

                                        </li>
                                        <li>
                                            <a href="/kiem-tra-dinh-ki.html"><i class="fa fa-question-circle"></i> Kiểm tra định kì</a>

                                        </li>
                                        <li>
                                            <a href="/tai-khoan-cua-toi.html#tien_do_hoc_tap"><i class="fa fa-bar-chart"></i>Tiến độ học tập</a>
                                        </li>
                                    </ul>
                                </li>
                                 @if (User.Claims.Where(x => x.Type == "Role").Select(x => x.Value).FirstOrDefault() == "StaffRole"
                                || User.Claims.Where(x => x.Type == "Role").Select(x => x.Value).FirstOrDefault() == "ManagerRole"
                                || User.Claims.Where(x => x.Type == "Role").Select(x => x.Value).FirstOrDefault() == "AdminRole")
                                {
                                    <li>
                                        <a><i class="fa fa-tasks"></i>Booking</a>
                                        <ul class="nav child_menu" id="bookingmenu">
                                            <li>
                                                <a href="/tai-khoan-cua-toi.html#lich_su" id="bookingmenuhistory"><i class="fa fa-history"></i>Lịch sử đặt phòng</a>
                                            </li>
                                            <li>
                                                <a href="/dat-lich.html"><i class="fa fa-calendar"></i>Đặt lịch họp</a>

                                            </li>
                                            @if (User.Claims.Where(x => x.Type == "Role").Select(x => x.Value).FirstOrDefault() == "ManagerRole"
                                           || User.Claims.Where(x => x.Type == "Role").Select(x => x.Value).FirstOrDefault() == "AdminRole")
                                            {
                                                <li>
                                                    <a href="/manager.html"><i class="fa fa-building"></i>Quản lý phòng </a>

                                                </li>
                                            }

                                            @if (User.Claims.Where(x => x.Type == "Role").Select(x => x.Value).FirstOrDefault() == "AdminRole")
                                            {
                                                <li>
                                                    <a href="/admin.html"><i class="fa fa-gears"></i>Cài đặt phòng</a>

                                                </li>
                                            }

                                        </ul>
                                    </li>

                                }
                                @if (User.Claims.Where(x => x.Type == "Role").Select(x => x.Value).FirstOrDefault() == "ITRole"
                                || User.Claims.Where(x => x.Type == "Role").Select(x => x.Value).FirstOrDefault() == "AdminRole")
                                {
                                    <li>
                                        <a><i class="fa fa-tasks"></i>Tài sản</a>
                                        <ul class="nav child_menu" id="bookingmenu">
                                            <li>
                                                <a href="/trang-chu-tai-san.html"><i class="fa fa-dashboard"></i>Trang chủ</a>
                                            </li>
                                            

                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                @await Html.PartialAsync("_HeaderPartialView.cshtml")
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" >
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
@*    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
*@    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/vendors/Flot/jquery.flot.js"></script>
    <script src="~/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- FullCalendar -->
    <link href="~/vendors/normalize-css/normalize.css" rel="stylesheet">
    <link href="~/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <!-- Custom Theme Scripts -->
    <script src="~/build/js/custom.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-datetimepicker -->
    <script src="~/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/vendors/dropzone/dist/min/dropzone.min.js"></script>
    <script src="~/vendors/validator/validator.js"></script>
    <script src="~/vendors/switchery/dist/switchery.min.js"></script>
    <!--Bootstrap select-->

    <script>
        $('#myDatepicker').datetimepicker();
        $('#dateUsed').datetimepicker();
        $('#dateMoved').datetimepicke
        $('#assetMoveDateUsed').datetimepicker();

        $('#dateChecked').datetimepicker();
        $('#dateBuyed').datetimepicker();
        $('#dateRepaired').datetimepicker();

        $('#toDate').datetimepicker();

        $('#myDatepicker2').datetimepicker({
            format: 'DD.MM.YYYY'
        });

        $('#myDatepicker3').datetimepicker({
            format: 'hh:mm A'
        });

        $('#myDatepicker4').datetimepicker({
            ignoreReadonly: true,
            allowInputToggle: true
        });

        $('#datetimepicker6').datetimepicker();

        $('#datetimepicker7').datetimepicker({
            useCurrent: false
        });

        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });

        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });

    </script>
    <script src="~/vendors/Chart.js/dist/Chart.min.js"></script>

    <script src="~/vendors/raphael/raphael.min.js"></script>
    <script src="~/vendors/morris.js/morris.min.js"></script>

    @*    <script src="~/js/site.js" asp-append-version="true"></script>
    *@    @await Component.InvokeAsync("Notyf")
</body>
</html>