@{
    ViewData["Title"] = "Không thể truy cập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="col-md-12">
        <div class="text-center text-center">

            <div class="mid_center">
                <h1 class="error-number"><i class="fa fa-bug"></i></h1>

                <h2>Xin lỗi, không tìm thấy trang</h2>
                <h2>Có vẻ bạn không có quyền truy cập</h2>
                <p>Vui lòng liên hệ quản trị viên</p>
                <div class="col-xs-12 form-group pull-right top_search">
                    <a class="btn btn-success" href="/" style="border-radius:50px">Quay lại</a>
                </div>
            </div>
         </div>
    </div>
</div>



