@model WebLearning.Contract.Dtos.Course.CourseDto;

@{
    ViewData["Title"] = "Xóa khóa học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/plugins/summernote/summernote.css" rel="stylesheet" />
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Khóa học - Xóa</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Course">Quay lại</a></li>
                    <li class="breadcrumb-item active">Khóa học - Xóa</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <form asp-controller="Course" asp-action="Delete" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin cơ bản</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputName">Code</label>
                            <input type="text" id="inputName" class="form-control" asp-for="Code" value="@Model.Code" readonly>
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="inputName">Tên khóa học</label>
                            <input type="text" id="inputName" class="form-control" asp-for="Name" value="@Model.Name" readonly>
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Trạng thái</label>
                            <select id="inputStatus" class="form-control custom-select" asp-for="Active" value="@Model.Active" disabled >
                                <option selected disabled>Chọn danh mục</option>
                                <option value="false">Khóa</option>
                                <option value="true">Kích hoạt</option>
                            </select>
                        </div>
                        
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin khác</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group" >
                            <label for="inputEstimatedBudget">Mô tả</label>
                            <textarea id="summernote" asp-for="Description" disabled></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="/khoa-hoc.html" class="btn btn-secondary">Cancel</a>
                <input type="submit" value="Xóa" class="btn btn-danger float-right">
            </div>
        </div>
    </form>

</section>
<!-- /.content -->
@section Scripts{
    <script src="~/plugins/codemirror/codemirror.js"></script>
    <script src="~/plugins/codemirror/mode/css/css.js"></script>
    <script src="~/plugins/codemirror/mode/xml/xml.js"></script>

    <script src="~/plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>

    <script>
        jQuery(document).ready(function () {
            $('#summernote').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 500,
                minHeight: null,
                maxHeight: null,
                focus: true
            });
        });
    </script>



}